@{
    ViewBag.Title = "Password Recovery";
    Layout = "~/Views/Shared/_Layout.Account.cshtml";
}

<form class="form-auto" role="form" method="post" name="forgotForm" ng-controller="accountController" ng-submit="forgotForm.$valid && forgotPassword()" novalidate>
    <h5>-----------------   Password Recovery   -----------------</h5>

    <div class="alert alert-warning" role="alert" ng-show="ServerMessage.length !== 0">
        <div ng-bind="ServerMessage"></div>
    </div>
    <div class="form-panel">
        <div class="form-group" ng-class="{ 'has-error': forgotForm.$invalid && !forgotForm.email.$pristine}">
            <i class="fa fa-envelope-o"></i>
            <input type="email" name="email" class="form-control" placeholder="Input the Email..." ng-model="model.Email" required />
            <span class="help-block text-left" ng-show="forgotForm.email.$error.required && !forgotForm.email.$pristine">Email is required.</span>
            <span class="help-block text-left" ng-show="forgotForm.email.$error.email && !forgotForm.$pristine">Email Address is wrong format.</span>
        </div>
    </div>
    <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="forgotForm.$invalid || Loading">Send Verification</button>
    <p class="terms">Privary Policy | TOS | Contact Us</p>
</form>