@{
    ViewBag.Title = "Send Verification";
    Layout = "~/Views/Shared/_Layout.Account.cshtml";
}
@model HippoBilling.Web.Models.Account.SendVerificationViewModel

<form class="form-auto" role="form" method="post" action="@Url.Action("SendVerification","Account")">
    <h5>-------------   Password Verfication Sent   ------------</h5>
    <p style="color: #ccc; ">We have sent a verification link to your your email to change your password. Please check your junk mail box to ensure you have received it.</p>
    <h5>------------------------------   or   -----------------------------</h5>
    <div class="form-panel">
        <div class="form-group">
            <i class="fa fa-envelope-o"></i>@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter your account email" }) 
        </div>
    </div>
    <button class="btn btn-lg btn-success btn-block" type="submit">Resend Verification</button>
    <p class="terms">Privary Policy | TOS | Contact Us</p>
</form>
