
@{
    ViewBag.Title = "Patient - Superbills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tabs">
    <div class="account">
        <ul class="nav nav-tabs nav-justified">
            <li>
                <a href="#tab_1_1" data-toggle="tab">View Patients</a>
            </li>
            <li class="">
                <a href="#tab_1_1" data-toggle="tab"><img src="/assets/img/sidebar-search-close-light.png" />Patient - 1</a>
            </li>
            <li class="active">
                <a href="#tab_1_1" data-toggle="tab"><img src="/assets/img/sidebar-search-close-light.png" />Aarington, Sara</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tab_1_1" style="border-bottom: 1px solid #b3b3b3;">
                <div class="row panel-bar" id="financial-list-bar">
                    <div class="col-md-2 border-bar">
                        <h4>Superbill Information</h4>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn cgreen" onclick="window.location.href = '/superbills/new';">New Superbill<img src="/assets/img/add-icon.png" style="margin-left: 10px;" height="30px" /></button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <!-- END TAB MENU-->
            <!-- BEGIN CONTENT TAB ROW-->
            <div class="row">
                <!-- BEGIN SIDEBAR MENU-->
                <div class="col-md-2 sidebar-content ">
                    <ul class="ver-inline-menu tabbable margin-bottom-25">
                        <li>
                            <a href="facesheet">Facesheet<i class="fa fa-angle-right pull-right"></i></a>
                            <span class="after">
                            </span>
                        </li>
                        <li>
                            <a href="financials">Financials<i class="fa fa-angle-right pull-right"></i></a>
                        </li>
                        <li class="active">
                            <a href="#">Superbills<i class="fa fa-angle-right pull-right"></i></a>
                        </li>
                        <li>
                            <a href="documents">Documents<i class="fa fa-angle-right pull-right"></i></a>
                        </li>
                        <li>
                            <a href="statements">Statements<i class="fa fa-angle-right pull-right"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- END SIDEBAR MENU-->
                <div class="col-md-10">
                    <!-- BEGIN DEMOGRAPHICS INSURANCE TABS-->
                    <table class="table table-hover">
                        <thead>
                            <tr class="active">
                                <th>Date of Service <i class="fa fa-angle-down"></i></th>
                                <th width="50%">Status <i class="fa fa-angle-down"></i></th>
                                <th>Prov <i class="fa fa-angle-down"></i></th>
                                <th>Loc <i class="fa fa-angle-down"></i></th>
                                <th>Amount <i class="fa fa-angle-down"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>11/12/2014</td>
                                <td>SUBMITED</td>
                                <td>AHUNT</td>
                                <td>AI0F</td>
                                <td>500.02</td>
                            </tr>
                            <tr>
                                <td>11/12/2014</td>
                                <td>SUBMITED</td>
                                <td>AHUNT</td>
                                <td>AI0F</td>
                                <td>500.02</td>
                            </tr>
                            <tr>
                                <td>11/12/2014</td>
                                <td>SUBMITED</td>
                                <td>AHUNT</td>
                                <td>AI0F</td>
                                <td>500.02</td>
                            </tr>
                            <tr>
                                <td>11/12/2014</td>
                                <td>SUBMITED</td>
                                <td>AHUNT</td>
                                <td>AI0F</td>
                                <td>500.02</td>
                            </tr>
                            <tr>
                                <td>11/12/2014</td>
                                <td>SUBMITED</td>
                                <td>AHUNT</td>
                                <td>AI0F</td>
                                <td>500.02</td>
                            </tr>
                            <tr>
                                <td>11/12/2014</td>
                                <td>SUBMITED</td>
                                <td>AHUNT</td>
                                <td>AI0F</td>
                                <td>500.02</td>
                            </tr>
                            <tr>
                                <td>11/12/2014</td>
                                <td>SUBMITED</td>
                                <td>AHUNT</td>
                                <td>AI0F</td>
                                <td>500.02</td>
                            </tr>
                            <tr>
                                <td>11/12/2014</td>
                                <td>SUBMITED</td>
                                <td>AHUNT</td>
                                <td>AI0F</td>
                                <td>500.02</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- END CONTENT TAB ROW-->
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- ENDTAB CONTENT -->
        </div>
        <!-- END ACCOUNT -->
    </div>
    <!-- END TABS -->
</div>


