USE [master]
GO
/****** Object:  Database [HippoBilling]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE DATABASE [HippoBilling] ON  PRIMARY 
( NAME = N'HippoBilling', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HippoBilling.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HippoBilling_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HippoBilling_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HippoBilling].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HippoBilling]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [uniqueidentifier] NOT NULL,
	[Address1] [nvarchar](max) NULL,
	[Address2] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[ZipCode] [nvarchar](max) NULL,
	[State_Code] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Authorizations]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authorizations](
	[Id] [uniqueidentifier] NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Insurance1] [nvarchar](max) NULL,
	[Insurance2] [nvarchar](max) NULL,
	[DX] [nvarchar](max) NULL,
	[CPT] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Location_Id] [uniqueidentifier] NULL,
	[Patient_Id] [uniqueidentifier] NULL,
	[Provider_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Authorizations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FavoritePayers]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoritePayers](
	[PayerId] [uniqueidentifier] NOT NULL,
	[PracticeId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.FavoritePayers] PRIMARY KEY CLUSTERED 
(
	[PayerId] ASC,
	[PracticeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FavoritePhysicians]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoritePhysicians](
	[NPI] [nvarchar](128) NOT NULL,
	[PracticeId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Organization] [bit] NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Fax] [nvarchar](max) NULL,
	[Address_Id] [uniqueidentifier] NULL,
	[Speciality_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.FavoritePhysicians] PRIMARY KEY CLUSTERED 
(
	[NPI] ASC,
	[PracticeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Insurances]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insurances](
	[Id] [uniqueidentifier] NOT NULL,
	[MemberNumber] [nvarchar](max) NULL,
	[GroupNumber] [nvarchar](max) NULL,
	[GroupName] [nvarchar](max) NULL,
	[EffectiveFrom] [datetime] NOT NULL,
	[EffectiveTo] [datetime] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Order] [int] NOT NULL,
	[Relationship] [int] NOT NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
	[CreatedBy_Id] [uniqueidentifier] NULL,
	[LastUpdatedBy_Id] [uniqueidentifier] NULL,
	[Patient_Id] [uniqueidentifier] NULL,
	[Payer_Id] [uniqueidentifier] NULL,
	[PolicyType_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Insurances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Locations]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [uniqueidentifier] NOT NULL,
	[InternalName] [nvarchar](max) NULL,
	[InternalCode] [nvarchar](max) NULL,
	[NPI] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[FDA] [nvarchar](max) NULL,
	[CLIA] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[Address_Id] [uniqueidentifier] NULL,
	[PlaceOfService_Code] [nvarchar](128) NULL,
	[Practice_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PasswordRecoveries]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordRecoveries](
	[Id] [uniqueidentifier] NOT NULL,
	[VerioficationCode] [uniqueidentifier] NOT NULL,
	[RequestDate] [datetime] NOT NULL,
	[Used] [bit] NOT NULL,
	[User_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.PasswordRecoveries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientNotes]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientNotes](
	[Id] [uniqueidentifier] NOT NULL,
	[Detail] [nvarchar](max) NULL,
	[Level] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastUpdatedDate] [datetime] NOT NULL,
	[CreatedBy_Id] [uniqueidentifier] NULL,
	[LastUpdatedBy_Id] [uniqueidentifier] NULL,
	[Patient_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.PatientNotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patients]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [uniqueidentifier] NOT NULL,
	[PatientNo] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[SSN] [nvarchar](max) NULL,
	[Sex] [int] NOT NULL,
	[PatientBalance] [decimal](18, 2) NOT NULL,
	[InsuranceBalance] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[StatementMethod] [int] NOT NULL,
	[ReferringPhysicanNPI] [bigint] NOT NULL,
	[ReferringPhysicanName] [nvarchar](max) NULL,
	[PrimaryPhone] [nvarchar](max) NULL,
	[SecondaryPhone] [nvarchar](max) NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastViewDate] [datetime] NOT NULL,
	[LastVisitDate] [datetime] NOT NULL,
	[StatementHold] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
	[Address_Id] [uniqueidentifier] NULL,
	[PrimaryProvider_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Patients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payers]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payers](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Fax] [nvarchar](max) NULL,
	[PayerId] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Address_Id] [uniqueidentifier] NULL,
	[CreatedBy_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Payers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PermissionModules]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionModules](
	[FullName] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Level] [int] NOT NULL,
	[Order] [int] NOT NULL,
	[Parent_FullName] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.PermissionModules] PRIMARY KEY CLUSTERED 
(
	[FullName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PolicyTypes]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PolicyTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Practices]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Practices](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[TaxId] [nvarchar](max) NULL,
	[NPI] [nvarchar](max) NULL,
	[PhoneNo] [nvarchar](max) NULL,
	[FaxNo] [nvarchar](max) NULL,
	[Active] [bit] NOT NULL,
	[Deleted] [bit] NOT NULL,
	[BillingLocation_Id] [uniqueidentifier] NULL,
	[MailingLocation_Id] [uniqueidentifier] NULL,
	[PayToLocation_Id] [uniqueidentifier] NULL,
	[Speciality_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Practices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PracticeUsers]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticeUsers](
	[UserId] [uniqueidentifier] NOT NULL,
	[PracticeId] [uniqueidentifier] NOT NULL,
	[ShowInTab] [bit] NOT NULL,
	[User_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.PracticeUsers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[PracticeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Providers]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Providers](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[IndividualNPI] [nvarchar](max) NULL,
	[LicenseNumber] [nvarchar](max) NULL,
	[Degree] [nvarchar](max) NULL,
	[Gender] [int] NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[SignatureOnFile] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
	[Address_Id] [uniqueidentifier] NULL,
	[Practice_Id] [uniqueidentifier] NULL,
	[Speciality_Id] [uniqueidentifier] NULL,
	[User_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Providers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ServicePlaces]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServicePlaces](
	[Code] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ServicePlaces] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Specialities]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialities](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Specialities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[States]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[Code] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[UpperName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.States] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserPermissions]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPermissions](
	[PracticeId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ModuleId] [nvarchar](128) NOT NULL,
	[FullControl] [bit] NOT NULL,
	[View] [bit] NOT NULL,
	[Edit] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.UserPermissions] PRIMARY KEY CLUSTERED 
(
	[PracticeId] ASC,
	[UserId] ASC,
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/25/2014 6:35:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Password_Hash] [nvarchar](max) NULL,
	[Password_Salt] [nvarchar](max) NULL,
	[Role] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[LastLogin] [datetime] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Addresses] ([Id], [Address1], [Address2], [City], [ZipCode], [State_Code]) VALUES (N'4307f99b-921b-4601-8ae3-18cf3e4c3d13', N'test 1', NULL, N'test 1', N'12312-3131', N'AL')
INSERT [dbo].[Addresses] ([Id], [Address1], [Address2], [City], [ZipCode], [State_Code]) VALUES (N'9ef784bc-4d4d-4824-8664-1a5e36f14aeb', N'test', NULL, N'test', N'12312-3131', N'FL')
INSERT [dbo].[Addresses] ([Id], [Address1], [Address2], [City], [ZipCode], [State_Code]) VALUES (N'16ce125e-f500-472f-96cc-265766afc2b5', N'123138', NULL, N'4566', N'16545-4665', N'NC')
INSERT [dbo].[Authorizations] ([Id], [DateOfBirth], [Insurance1], [Insurance2], [DX], [CPT], [CreatedDate], [Location_Id], [Patient_Id], [Provider_Id]) VALUES (N'473febc0-1e08-4479-b9b1-222bcc40bf10', CAST(0x0000A36A00000000 AS DateTime), NULL, NULL, N'111', N'222', CAST(0x0000A373004E532E AS DateTime), N'1830be98-0daf-4f2b-a701-d824c868016e', N'a976e0bb-7587-4039-a09c-85aec16fa372', N'beb439cb-7b00-4ebc-979c-fe8c7afd49c5')
INSERT [dbo].[FavoritePayers] ([PayerId], [PracticeId]) VALUES (N'22c94419-bf97-44e9-8e57-d4cd78f9a3da', N'6da118ef-5fc4-4b28-8137-ae658928476d')
INSERT [dbo].[FavoritePayers] ([PayerId], [PracticeId]) VALUES (N'5808736d-07d4-4d85-9bc2-b31f625d66c5', N'2fa29e0a-7f54-4765-b8a7-b87f530367c3')
INSERT [dbo].[FavoritePayers] ([PayerId], [PracticeId]) VALUES (N'5221a96b-8fbf-4013-b276-cf8453c11459', N'2fa29e0a-7f54-4765-b8a7-b87f530367c3')
INSERT [dbo].[FavoritePhysicians] ([NPI], [PracticeId], [Name], [Organization], [Phone], [Fax], [Address_Id], [Speciality_Id]) VALUES (N'1306849450', N'2fa29e0a-7f54-4765-b8a7-b87f530367c3', N'HAROLD LEROY SMITSON', 0, N'9036756778', N'9036752333', N'8f1ac3d2-c024-4f5d-9d09-532233894550', NULL)
INSERT [dbo].[Locations] ([Id], [InternalName], [InternalCode], [NPI], [Phone], [FDA], [CLIA], [Active], [Address_Id], [PlaceOfService_Code], [Practice_Id]) VALUES (N'1830be98-0daf-4f2b-a701-d824c868016e', N'Dr John Office', NULL, N'1720081995', N'973-256-6565', NULL, NULL, 1, N'294f7ffd-79a9-4155-a8c0-2ad84ca0d613', N'11', N'6da118ef-5fc4-4b28-8137-ae658928476d')
INSERT [dbo].[PatientNotes] ([Id], [Detail], [Level], [CreatedDate], [LastUpdatedDate], [CreatedBy_Id], [LastUpdatedBy_Id], [Patient_Id]) VALUES (N'82de5f1e-5db0-4f4d-8b0d-0a88752bb3a6', N'Note 2', 1, CAST(0x0000A37200415EFC AS DateTime), CAST(0x0000A37200415EFC AS DateTime), N'494e2fea-7afd-45a0-bae4-064c3b8190d8', N'494e2fea-7afd-45a0-bae4-064c3b8190d8', N'bd9960e2-0159-4df0-a6d7-514299ac6666')
INSERT [dbo].[PatientNotes] ([Id], [Detail], [Level], [CreatedDate], [LastUpdatedDate], [CreatedBy_Id], [LastUpdatedBy_Id], [Patient_Id]) VALUES (N'd68f2645-237d-4d00-bf3f-93956118fa9a', N'Note 1', 0, CAST(0x0000A37200415816 AS DateTime), CAST(0x0000A37200415816 AS DateTime), N'494e2fea-7afd-45a0-bae4-064c3b8190d8', N'494e2fea-7afd-45a0-bae4-064c3b8190d8', N'bd9960e2-0159-4df0-a6d7-514299ac6666')
SET IDENTITY_INSERT [dbo].[Patients] ON 

SET IDENTITY_INSERT [dbo].[Patients] OFF
INSERT [dbo].[Payers] ([Id], [Name], [Phone], [Fax], [PayerId], [CreatedDate], [Address_Id], [CreatedBy_Id]) VALUES (N'5808736d-07d4-4d85-9bc2-b31f625d66c5', N'Medicare', N'489-478-7799', NULL, N'25698', CAST(0x0000A372009AB649 AS DateTime), N'16ce125e-f500-472f-96cc-265766afc2b5', N'494e2fea-7afd-45a0-bae4-064c3b8190d8')
INSERT [dbo].[Payers] ([Id], [Name], [Phone], [Fax], [PayerId], [CreatedDate], [Address_Id], [CreatedBy_Id]) VALUES (N'5221a96b-8fbf-4013-b276-cf8453c11459', N'Payer 1', N'123-123-1311', NULL, N'11231233', CAST(0x0000A3720041BC39 AS DateTime), N'1a385dea-e9ee-4622-9742-aaa9604006f4', N'494e2fea-7afd-45a0-bae4-064c3b8190d8')
INSERT [dbo].[Payers] ([Id], [Name], [Phone], [Fax], [PayerId], [CreatedDate], [Address_Id], [CreatedBy_Id]) VALUES (N'22c94419-bf97-44e9-8e57-d4cd78f9a3da', N'Payer 2', N'123-123-1311', NULL, N'11231233', CAST(0x0000A3720041FF64 AS DateTime), N'0a63c09c-e41b-4e6a-ba54-8b59db2c382c', N'494e2fea-7afd-45a0-bae4-064c3b8190d8')
INSERT [dbo].[PermissionModules] ([FullName], [Name], [Level], [Order], [Parent_FullName]) VALUES (N'HippoBilling.Web.Controllers.AuthorizationsController', N'Authorizations', 1, 2, NULL)
INSERT [dbo].[PermissionModules] ([FullName], [Name], [Level], [Order], [Parent_FullName]) VALUES (N'HippoBilling.Web.Controllers.CollectionsController', N'Collections', 1, 6, NULL)
INSERT [dbo].[PermissionModules] ([FullName], [Name], [Level], [Order], [Parent_FullName]) VALUES (N'HippoBilling.Web.Controllers.EmdeonController', N'Emdeon', 1, 4, NULL)
INSERT [dbo].[PolicyTypes] ([Id], [Name]) VALUES (N'411a9ca3-f2fa-4186-8fb5-09a7fb44a586', N'EPO')
INSERT [dbo].[PolicyTypes] ([Id], [Name]) VALUES (N'36391c60-0b14-4568-862b-1168c9943e80', N'POS')
INSERT [dbo].[PolicyTypes] ([Id], [Name]) VALUES (N'9b78ab86-fafa-430f-9ec0-21fa7007549a', N'DMERC')
INSERT [dbo].[Practices] ([Id], [Name], [TaxId], [NPI], [PhoneNo], [FaxNo], [Active], [Deleted], [BillingLocation_Id], [MailingLocation_Id], [PayToLocation_Id], [Speciality_Id]) VALUES (N'549cd99f-f06c-4f90-b0e7-33124e3e0ba4', N'Practice 2', N'123123131', N'1231231311', N'123-123-1231', N'123-123-1231', 1, 0, N'15fae7b5-be7a-4b41-9c7d-42dda18bb6b8', N'15fae7b5-be7a-4b41-9c7d-42dda18bb6b8', N'15fae7b5-be7a-4b41-9c7d-42dda18bb6b8', N'1e19dccb-54f6-482c-9ef1-426bd2e1530d')
INSERT [dbo].[Practices] ([Id], [Name], [TaxId], [NPI], [PhoneNo], [FaxNo], [Active], [Deleted], [BillingLocation_Id], [MailingLocation_Id], [PayToLocation_Id], [Speciality_Id]) VALUES (N'6da118ef-5fc4-4b28-8137-ae658928476d', N'Dr John Smith', N'123456789', N'1234567891', N'201-555-1212', N'201-222-1212', 1, 0, N'8226bb1b-6a29-489b-936c-6f08841bd357', N'8226bb1b-6a29-489b-936c-6f08841bd357', N'8226bb1b-6a29-489b-936c-6f08841bd357', N'fa549870-9ce9-4c57-a4a5-1a2d46d8b968')
INSERT [dbo].[Practices] ([Id], [Name], [TaxId], [NPI], [PhoneNo], [FaxNo], [Active], [Deleted], [BillingLocation_Id], [MailingLocation_Id], [PayToLocation_Id], [Speciality_Id]) VALUES (N'2fa29e0a-7f54-4765-b8a7-b87f530367c3', N'Practice 1', N'123123123', N'1231231231', N'123-123-1311', N'123-123-1234', 1, 0, N'9d12f501-23c9-41f7-8fa0-771016f85e7f', N'9d12f501-23c9-41f7-8fa0-771016f85e7f', N'9d12f501-23c9-41f7-8fa0-771016f85e7f', N'1e19dccb-54f6-482c-9ef1-426bd2e1530d')
INSERT [dbo].[PracticeUsers] ([UserId], [PracticeId], [ShowInTab], [User_Id]) VALUES (N'494e2fea-7afd-45a0-bae4-064c3b8190d8', N'549cd99f-f06c-4f90-b0e7-33124e3e0ba4', 1, NULL)
INSERT [dbo].[PracticeUsers] ([UserId], [PracticeId], [ShowInTab], [User_Id]) VALUES (N'494e2fea-7afd-45a0-bae4-064c3b8190d8', N'6da118ef-5fc4-4b28-8137-ae658928476d', 1, NULL)
INSERT [dbo].[PracticeUsers] ([UserId], [PracticeId], [ShowInTab], [User_Id]) VALUES (N'494e2fea-7afd-45a0-bae4-064c3b8190d8', N'2fa29e0a-7f54-4765-b8a7-b87f530367c3', 1, NULL)
INSERT [dbo].[Providers] ([Id], [FullName], [IndividualNPI], [LicenseNumber], [Degree], [Gender], [Phone], [SignatureOnFile], [Active], [Address_Id], [Practice_Id], [Speciality_Id], [User_Id]) VALUES (N'9a8ecbc5-3aa1-4448-9a2a-1fd471bcbec4', N'Provider 1', N'1231231231', N'123123', N'test', 0, N'123-123-1311', 1, 1, N'9ef784bc-4d4d-4824-8664-1a5e36f14aeb', N'2fa29e0a-7f54-4765-b8a7-b87f530367c3', N'f4b71bda-9dd9-4172-abdd-70d60793c8c6', NULL)
INSERT [dbo].[Providers] ([Id], [FullName], [IndividualNPI], [LicenseNumber], [Degree], [Gender], [Phone], [SignatureOnFile], [Active], [Address_Id], [Practice_Id], [Speciality_Id], [User_Id]) VALUES (N'beb439cb-7b00-4ebc-979c-fe8c7afd49c5', N'DAVID A WIEBE', N'1679576722', N'12637', N'M.D.', 0, N'308-865-2512', 1, 1, N'32b9d0d6-33bd-480f-b25a-52602fed39d9', N'6da118ef-5fc4-4b28-8137-ae658928476d', N'acb86b7e-927a-4dac-87dc-925e49424974', NULL)
INSERT [dbo].[ServicePlaces] ([Code], [Name]) VALUES (N'01', N'Pharmacy')
INSERT [dbo].[ServicePlaces] ([Code], [Name]) VALUES (N'03', N'School')
INSERT [dbo].[ServicePlaces] ([Code], [Name]) VALUES (N'04', N'Homeless Shelter')
INSERT [dbo].[Specialities] ([Id], [Name], [Code], [Description]) VALUES (N'85c9ee8d-3361-4a4c-b142-01b4d2625fd1', N'Oncology', N'2080P0207X', N'Physicians/Allopathic/Osteopathic/Pediatrics/Pediatric Hematology-Oncology')
INSERT [dbo].[Specialities] ([Id], [Name], [Code], [Description]) VALUES (N'42998c4f-766e-435d-ba83-0220511813df', N'Radiology', N'2471C3401X', N'Technologists, Technicians & Other Technical Service Providers/Radiologic Technologist/Computed Tomography')
INSERT [dbo].[Specialities] ([Id], [Name], [Code], [Description]) VALUES (N'099b432f-bd95-4459-a278-022af16c2151', N'General Medicine', N'207QA0505X', N'Physicians/Allopathic/Osteopathic/Family Practice/Adult Medicine')
GO
INSERT [dbo].[States] ([Code], [Name], [UpperName]) VALUES (N'AK', N'Alaska', N'ALASKA')
INSERT [dbo].[States] ([Code], [Name], [UpperName]) VALUES (N'AL', N'Alabama', N'ALABAMA')
INSERT [dbo].[States] ([Code], [Name], [UpperName]) VALUES (N'AR', N'Arkansas', N'ARKANSAS')
INSERT [dbo].[Users] ([Id], [Email], [Name], [Password_Hash], [Password_Salt], [Role], [Active], [LastLogin]) VALUES (N'494e2fea-7afd-45a0-bae4-064c3b8190d8', N'pkoukounas@hippocraticsolutions.com', N'Peter', N'PP�tΕo���Ō3�����Voj����', N'5BE64C1D85DF4DD5B2C8CF1C6C15D2F9', 0, 1, NULL)
INSERT [dbo].[Users] ([Id], [Email], [Name], [Password_Hash], [Password_Salt], [Role], [Active], [LastLogin]) VALUES (N'e00d146b-767d-4af8-8198-69ac5ca7721c', N'shblyl@qq.com', N'Sun', N'y���=�t6��߮7����_U��D���;Ő�', N'6FFC57BDFE034CBA9793F7A4BB5D7F1E', 0, 1, NULL)
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_State_Code]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_State_Code] ON [dbo].[Addresses]
(
	[State_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Location_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Location_Id] ON [dbo].[Authorizations]
(
	[Location_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Patient_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Patient_Id] ON [dbo].[Authorizations]
(
	[Patient_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Provider_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Provider_Id] ON [dbo].[Authorizations]
(
	[Provider_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PayerId]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_PayerId] ON [dbo].[FavoritePayers]
(
	[PayerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PracticeId]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_PracticeId] ON [dbo].[FavoritePayers]
(
	[PracticeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Address_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Address_Id] ON [dbo].[FavoritePhysicians]
(
	[Address_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PracticeId]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_PracticeId] ON [dbo].[FavoritePhysicians]
(
	[PracticeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Speciality_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Speciality_Id] ON [dbo].[FavoritePhysicians]
(
	[Speciality_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedBy_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBy_Id] ON [dbo].[Insurances]
(
	[CreatedBy_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LastUpdatedBy_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_LastUpdatedBy_Id] ON [dbo].[Insurances]
(
	[LastUpdatedBy_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Patient_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Patient_Id] ON [dbo].[Insurances]
(
	[Patient_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payer_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Payer_Id] ON [dbo].[Insurances]
(
	[Payer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PolicyType_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_PolicyType_Id] ON [dbo].[Insurances]
(
	[PolicyType_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Address_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Address_Id] ON [dbo].[Locations]
(
	[Address_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_PlaceOfService_Code]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_PlaceOfService_Code] ON [dbo].[Locations]
(
	[PlaceOfService_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Practice_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Practice_Id] ON [dbo].[Locations]
(
	[Practice_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[PasswordRecoveries]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedBy_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBy_Id] ON [dbo].[PatientNotes]
(
	[CreatedBy_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LastUpdatedBy_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_LastUpdatedBy_Id] ON [dbo].[PatientNotes]
(
	[LastUpdatedBy_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Patient_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Patient_Id] ON [dbo].[PatientNotes]
(
	[Patient_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Address_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Address_Id] ON [dbo].[Patients]
(
	[Address_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PrimaryProvider_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_PrimaryProvider_Id] ON [dbo].[Patients]
(
	[PrimaryProvider_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Address_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Address_Id] ON [dbo].[Payers]
(
	[Address_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedBy_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBy_Id] ON [dbo].[Payers]
(
	[CreatedBy_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Parent_FullName]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Parent_FullName] ON [dbo].[PermissionModules]
(
	[Parent_FullName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BillingLocation_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_BillingLocation_Id] ON [dbo].[Practices]
(
	[BillingLocation_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MailingLocation_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_MailingLocation_Id] ON [dbo].[Practices]
(
	[MailingLocation_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PayToLocation_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_PayToLocation_Id] ON [dbo].[Practices]
(
	[PayToLocation_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Speciality_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Speciality_Id] ON [dbo].[Practices]
(
	[Speciality_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PracticeId]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_PracticeId] ON [dbo].[PracticeUsers]
(
	[PracticeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[PracticeUsers]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[PracticeUsers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Address_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Address_Id] ON [dbo].[Providers]
(
	[Address_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Practice_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Practice_Id] ON [dbo].[Providers]
(
	[Practice_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Speciality_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_Speciality_Id] ON [dbo].[Providers]
(
	[Speciality_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Id]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[Providers]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ModuleId]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_ModuleId] ON [dbo].[UserPermissions]
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PracticeId]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_PracticeId] ON [dbo].[UserPermissions]
(
	[PracticeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 7/25/2014 6:35:02 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[UserPermissions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Addresses_dbo.States_State_Code] FOREIGN KEY([State_Code])
REFERENCES [dbo].[States] ([Code])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_dbo.Addresses_dbo.States_State_Code]
GO
ALTER TABLE [dbo].[Authorizations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Authorizations_dbo.Locations_Location_Id] FOREIGN KEY([Location_Id])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[Authorizations] CHECK CONSTRAINT [FK_dbo.Authorizations_dbo.Locations_Location_Id]
GO
ALTER TABLE [dbo].[Authorizations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Authorizations_dbo.Patients_Patient_Id] FOREIGN KEY([Patient_Id])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Authorizations] CHECK CONSTRAINT [FK_dbo.Authorizations_dbo.Patients_Patient_Id]
GO
ALTER TABLE [dbo].[Authorizations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Authorizations_dbo.Providers_Provider_Id] FOREIGN KEY([Provider_Id])
REFERENCES [dbo].[Providers] ([Id])
GO
ALTER TABLE [dbo].[Authorizations] CHECK CONSTRAINT [FK_dbo.Authorizations_dbo.Providers_Provider_Id]
GO
ALTER TABLE [dbo].[FavoritePayers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FavoritePayers_dbo.Payers_PayerId] FOREIGN KEY([PayerId])
REFERENCES [dbo].[Payers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoritePayers] CHECK CONSTRAINT [FK_dbo.FavoritePayers_dbo.Payers_PayerId]
GO
ALTER TABLE [dbo].[FavoritePayers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FavoritePayers_dbo.Practices_PracticeId] FOREIGN KEY([PracticeId])
REFERENCES [dbo].[Practices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoritePayers] CHECK CONSTRAINT [FK_dbo.FavoritePayers_dbo.Practices_PracticeId]
GO
ALTER TABLE [dbo].[FavoritePhysicians]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FavoritePhysicians_dbo.Addresses_Address_Id] FOREIGN KEY([Address_Id])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[FavoritePhysicians] CHECK CONSTRAINT [FK_dbo.FavoritePhysicians_dbo.Addresses_Address_Id]
GO
ALTER TABLE [dbo].[FavoritePhysicians]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FavoritePhysicians_dbo.Practices_PracticeId] FOREIGN KEY([PracticeId])
REFERENCES [dbo].[Practices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoritePhysicians] CHECK CONSTRAINT [FK_dbo.FavoritePhysicians_dbo.Practices_PracticeId]
GO
ALTER TABLE [dbo].[FavoritePhysicians]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FavoritePhysicians_dbo.Specialities_Speciality_Id] FOREIGN KEY([Speciality_Id])
REFERENCES [dbo].[Specialities] ([Id])
GO
ALTER TABLE [dbo].[FavoritePhysicians] CHECK CONSTRAINT [FK_dbo.FavoritePhysicians_dbo.Specialities_Speciality_Id]
GO
ALTER TABLE [dbo].[Insurances]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Insurances_dbo.Patients_Patient_Id] FOREIGN KEY([Patient_Id])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Insurances] CHECK CONSTRAINT [FK_dbo.Insurances_dbo.Patients_Patient_Id]
GO
ALTER TABLE [dbo].[Insurances]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Insurances_dbo.Payers_Payer_Id] FOREIGN KEY([Payer_Id])
REFERENCES [dbo].[Payers] ([Id])
GO
ALTER TABLE [dbo].[Insurances] CHECK CONSTRAINT [FK_dbo.Insurances_dbo.Payers_Payer_Id]
GO
ALTER TABLE [dbo].[Insurances]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Insurances_dbo.PolicyTypes_PolicyType_Id] FOREIGN KEY([PolicyType_Id])
REFERENCES [dbo].[PolicyTypes] ([Id])
GO
ALTER TABLE [dbo].[Insurances] CHECK CONSTRAINT [FK_dbo.Insurances_dbo.PolicyTypes_PolicyType_Id]
GO
ALTER TABLE [dbo].[Insurances]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Insurances_dbo.Users_CreatedBy_Id] FOREIGN KEY([CreatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Insurances] CHECK CONSTRAINT [FK_dbo.Insurances_dbo.Users_CreatedBy_Id]
GO
ALTER TABLE [dbo].[Insurances]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Insurances_dbo.Users_LastUpdatedBy_Id] FOREIGN KEY([LastUpdatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Insurances] CHECK CONSTRAINT [FK_dbo.Insurances_dbo.Users_LastUpdatedBy_Id]
GO
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Locations_dbo.Addresses_Address_Id] FOREIGN KEY([Address_Id])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [FK_dbo.Locations_dbo.Addresses_Address_Id]
GO
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Locations_dbo.Practices_Practice_Id] FOREIGN KEY([Practice_Id])
REFERENCES [dbo].[Practices] ([Id])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [FK_dbo.Locations_dbo.Practices_Practice_Id]
GO
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Locations_dbo.ServicePlaces_PlaceOfService_Code] FOREIGN KEY([PlaceOfService_Code])
REFERENCES [dbo].[ServicePlaces] ([Code])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [FK_dbo.Locations_dbo.ServicePlaces_PlaceOfService_Code]
GO
ALTER TABLE [dbo].[PasswordRecoveries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PasswordRecoveries_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PasswordRecoveries] CHECK CONSTRAINT [FK_dbo.PasswordRecoveries_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[PatientNotes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PatientNotes_dbo.Patients_Patient_Id] FOREIGN KEY([Patient_Id])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[PatientNotes] CHECK CONSTRAINT [FK_dbo.PatientNotes_dbo.Patients_Patient_Id]
GO
ALTER TABLE [dbo].[PatientNotes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PatientNotes_dbo.Users_CreatedBy_Id] FOREIGN KEY([CreatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PatientNotes] CHECK CONSTRAINT [FK_dbo.PatientNotes_dbo.Users_CreatedBy_Id]
GO
ALTER TABLE [dbo].[PatientNotes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PatientNotes_dbo.Users_LastUpdatedBy_Id] FOREIGN KEY([LastUpdatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PatientNotes] CHECK CONSTRAINT [FK_dbo.PatientNotes_dbo.Users_LastUpdatedBy_Id]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Patients_dbo.Addresses_Address_Id] FOREIGN KEY([Address_Id])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_dbo.Patients_dbo.Addresses_Address_Id]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Patients_dbo.Providers_PrimaryProvider_Id] FOREIGN KEY([PrimaryProvider_Id])
REFERENCES [dbo].[Providers] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_dbo.Patients_dbo.Providers_PrimaryProvider_Id]
GO
ALTER TABLE [dbo].[Payers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Payers_dbo.Addresses_Address_Id] FOREIGN KEY([Address_Id])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[Payers] CHECK CONSTRAINT [FK_dbo.Payers_dbo.Addresses_Address_Id]
GO
ALTER TABLE [dbo].[Payers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Payers_dbo.Users_CreatedBy_Id] FOREIGN KEY([CreatedBy_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Payers] CHECK CONSTRAINT [FK_dbo.Payers_dbo.Users_CreatedBy_Id]
GO
ALTER TABLE [dbo].[PermissionModules]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PermissionModules_dbo.PermissionModules_Parent_FullName] FOREIGN KEY([Parent_FullName])
REFERENCES [dbo].[PermissionModules] ([FullName])
GO
ALTER TABLE [dbo].[PermissionModules] CHECK CONSTRAINT [FK_dbo.PermissionModules_dbo.PermissionModules_Parent_FullName]
GO
ALTER TABLE [dbo].[Practices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Practices_dbo.Addresses_BillingLocation_Id] FOREIGN KEY([BillingLocation_Id])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[Practices] CHECK CONSTRAINT [FK_dbo.Practices_dbo.Addresses_BillingLocation_Id]
GO
ALTER TABLE [dbo].[Practices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Practices_dbo.Addresses_MailingLocation_Id] FOREIGN KEY([MailingLocation_Id])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[Practices] CHECK CONSTRAINT [FK_dbo.Practices_dbo.Addresses_MailingLocation_Id]
GO
ALTER TABLE [dbo].[Practices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Practices_dbo.Addresses_PayToLocation_Id] FOREIGN KEY([PayToLocation_Id])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[Practices] CHECK CONSTRAINT [FK_dbo.Practices_dbo.Addresses_PayToLocation_Id]
GO
ALTER TABLE [dbo].[Practices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Practices_dbo.Specialities_Speciality_Id] FOREIGN KEY([Speciality_Id])
REFERENCES [dbo].[Specialities] ([Id])
GO
ALTER TABLE [dbo].[Practices] CHECK CONSTRAINT [FK_dbo.Practices_dbo.Specialities_Speciality_Id]
GO
ALTER TABLE [dbo].[PracticeUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PracticeUsers_dbo.Practices_PracticeId] FOREIGN KEY([PracticeId])
REFERENCES [dbo].[Practices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PracticeUsers] CHECK CONSTRAINT [FK_dbo.PracticeUsers_dbo.Practices_PracticeId]
GO
ALTER TABLE [dbo].[PracticeUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PracticeUsers_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PracticeUsers] CHECK CONSTRAINT [FK_dbo.PracticeUsers_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[PracticeUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PracticeUsers_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PracticeUsers] CHECK CONSTRAINT [FK_dbo.PracticeUsers_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Providers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Providers_dbo.Addresses_Address_Id] FOREIGN KEY([Address_Id])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[Providers] CHECK CONSTRAINT [FK_dbo.Providers_dbo.Addresses_Address_Id]
GO
ALTER TABLE [dbo].[Providers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Providers_dbo.Practices_Practice_Id] FOREIGN KEY([Practice_Id])
REFERENCES [dbo].[Practices] ([Id])
GO
ALTER TABLE [dbo].[Providers] CHECK CONSTRAINT [FK_dbo.Providers_dbo.Practices_Practice_Id]
GO
ALTER TABLE [dbo].[Providers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Providers_dbo.Specialities_Speciality_Id] FOREIGN KEY([Speciality_Id])
REFERENCES [dbo].[Specialities] ([Id])
GO
ALTER TABLE [dbo].[Providers] CHECK CONSTRAINT [FK_dbo.Providers_dbo.Specialities_Speciality_Id]
GO
ALTER TABLE [dbo].[Providers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Providers_dbo.Users_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Providers] CHECK CONSTRAINT [FK_dbo.Providers_dbo.Users_User_Id]
GO
ALTER TABLE [dbo].[UserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPermissions_dbo.PermissionModules_ModuleId] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[PermissionModules] ([FullName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPermissions] CHECK CONSTRAINT [FK_dbo.UserPermissions_dbo.PermissionModules_ModuleId]
GO
ALTER TABLE [dbo].[UserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPermissions_dbo.Practices_PracticeId] FOREIGN KEY([PracticeId])
REFERENCES [dbo].[Practices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPermissions] CHECK CONSTRAINT [FK_dbo.UserPermissions_dbo.Practices_PracticeId]
GO
ALTER TABLE [dbo].[UserPermissions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserPermissions_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPermissions] CHECK CONSTRAINT [FK_dbo.UserPermissions_dbo.Users_UserId]
GO
USE [master]
GO
